html, body { 
  margin: 0;
  padding: 0;
} 
body { 
  font: 100% Arial,"Trebuchet MS",Helvetica,Tahoma,sans-serif;
  letter-spacing: 0.1px;
  line-height: 1.5em;
  background: #f3f3f3;
  color: #181818;
}

/*WRAPPER*/
#wrap { 
  width: 83%;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  border: 10px solid #fff;
  background: #fcffe2;
}

/*HEADER*/
#header { 
  height: 130px;
  padding: 0;
  margin-bottom: 0;
/*   background: #fcffe2 url(/files/images/header_background.png) no-repeat center right; */
  background: url(/files/images/header_background.jpg) no-repeat center right;
}

/*MAIN CONTAINER*/
#container { 
  width: 100%;
  min-height: 300px;
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 20px;
  background: #fff url(/files/images/container_bg_grey-white_grad.jpg) repeat-x;
}

/*TOP NAVIGATION BAR*/
#menucontainer { 
  position: relative;
  height: 45px;
  color: #eaf3f8;
/*   background: #fcffe2; */
  width: 100%;
  font-family: Helvetica, Arial, Verdana, sans-serif;
} 
#menunav { 
  position: relative;
  height: 33px;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: bold;
  background: #fff url(/files/images/menu_bg.gif) repeat-x bottom left;
  padding: 0 0 0 20px;
} 
#menunav ul { 
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: auto;
  float: left;
} 
#menunav ul li { 
  display: block;
  float: left;
  padding: 0 1px;
} 
#menunav ul li a { 
  display: block;
  float: left;
  color: #eaf3f8;
  text-decoration: none;
  padding: 0 0 0 20px;
  height: 33px;
} 
#menunav ul li a span { 
  padding: 12px 20px 0 0;
  height: 21px;
  float: left;
} 
#menunav ul li a:hover { 
  color: #fff;
  background: transparent url(/files/images/menu_bg-OVER.gif) repeat-x bottom left;
} 
#menunav ul li a:hover span { 
  display: block;
  width: auto;
  cursor: pointer;
} 
#menunav ul li a.current, #menunav ul li a.current:hover { 
  color: #fff;
  background: #1d6893 url(/files/images/menu_left-ON.gif) no-repeat top left;
  line-height: 275%;
} 
#menunav ul li a.current span { 
  display: block;
  padding: 0 20px 0 0;
  width: auto;
  background: #1d6893 url(/files/images/menu_right-ON.gif) no-repeat top right;
  height: 33px;
}

/*MAIN SECTION CONTENT*/
#content { 
  padding: 0 1em 0 1em;
  margin: 0 240px 0 0;
  border-right: 1px solid #eee;
}

/*SIDEBAR*/
#sidebar { 
  float: right;
  width: 200px;
  margin-top: 0;
  padding: 0 1em 0 1em;
}

/*FOOTER*/
#footer { 
  clear: both;
  height: auto;
  padding-bottom: 5px;
  border-top: 5px solid #9ec3ea;
  font: 80% "DejaVu Serif", "Bitstream Vera Serif", serif, sans-serif;
  line-height: 0.75em;
  text-align: center;
  color: #000;
  background: #fdffed;
}

/*TYPOGRAPHY*/
h1 { 
  float: left;
  margin: 0;
  padding: 5px 0 5px 25px;
  font: 150% Helvetica, Verdana, Arial, Tahoma, sans-serif;
  letter-spacing: 2px;
  color: #fff;
} 
h2 { 
  float: right;
  margin: 0;
  padding: 5px 20px 20px 0;
  font: 95% Helvetica, Verdana, Arial, Tahoma, sans-serif;
  color: #141B71;
} 
h2 a:hover { 
  color: #000;
  text-decoration: overline underline;
  text-shadow: none;
} 
h3 { 
  margin: 0;
  padding: 10px 0 5px 0;
  border-bottom: 1px solid #aaa;
  font: 145% Helvetica, Verdana, Arial, Tahoma, sans-serif;
  text-transform: capitalize;
  letter-spacing: 1px;
  color: #143c55;
}
h4 { 
  margin: 0;
  padding: 5px 10px 5px 0;
  border-bottom: 1px solid #888a85;
  font: 135% Helvetica, Verdana, Arial, Tahoma, sans-serif;
  text-transform: none;
  letter-spacing: 0.4px;
  color: #33536d;
}
h5 { 
  margin: 0;
  padding: 2px 10px 2px 0;
  border-bottom: 1px dashed #888a85;
  border-top: 1px dashed #888a85;
  font: 120% Helvetica, Verdana, Arial, Tahoma, sans-serif;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  color: #33536d;
}
p {
  text-align: justify;
}
p.news {
  background: transparent url(/files/images/news.gif) no-repeat 0px 4px;
  padding-left: 21px;
  text-align: left;
  line-height: 1.5em;
}
p.logs {
  background: transparent url(/files/images/logs.gif) no-repeat 0px 4px;
  padding-left: 21px;
  text-align: left;
  line-height: 1.5em;
}
.hints {
  line-height: 1em;
  padding: 10px;
  margin: 5px;
  background-color: rgb(248, 248, 248);
  font: 90% Arial,"Trebuchet MS",Helvetica,Tahoma,sans-serif;
}
blockquote {
  font-weight: bold;
  font-style: italic;
  color: #b29b35;
}
em {
  color: #000000;
  font-style: italic;
  font-weight: bolder;
}

/*SEQUENCES TYPOGRAPHY*/
.sec{ /*Sequence, in general, like peptidic sequences*/
    color: #0000CC;
    font-family: "Courier New", Courier, monospace;
}
.seqprot_contianer { /*Protein sequence scrollable container*/
  display: inline-block;
  white-space: nowrap; /*Avoids breaking numbers and sequence blocks a part*/
  width: 100%;
  overflow: auto;
  resize: both;
}
.seqprot{ /*Protein sequence*/
    color: #696969;
    font-family: "Courier New", Courier, monospace;
    line-height: normal;
}
 /*PTMs:*/
.modtype_0{ /*Multiple PTMs in the same amino-acid*/
    color: yellow;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    background-color: #75507b;
}
.modtype_1{ /*Acetylation*/
    color: white;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    background-color: blue;
}
.modtype_21, .modtype_23{ /*Phosphorylation and Dehydratation*/
    color: white;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    background-color: green;
}
.modtype_35{ /*Oxidation*/
    color: grey;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    background-color: yellow;
}
.modtype_34{ /*Methylation*/
    color: white;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    background-color: grey;
}
.modtype_121{ /*Ubiquitination*/
    color: white;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    background-color: brown;
}
 /*High Density of PTMs Region:*/
.hd_ptm_region{
    color: #000000;
    background-color: rgba(255, 255, 0, 0.3);
    outline: 1px solid white;
}
.hd_ptm_region:hover{
    font-weight: bold;
    background-color: yellow;
    outline: 2px solid red;
}
.hd_ptm_bckgrnd{
    background-color: rgba(255, 255, 0, 0.3);
}
 /*Protein Region:*/
.secpepinprot{
    color: #000000;
}
.secpepinprot:hover{
    color: #0000CC;
}

/*TABLES*/
th img {
  vertical-align: bottom;
}

table {
  letter-spacing: normal;
  line-height: normal;
}
table thead {
/*  position: -webkit-sticky;*/
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  top: 0;
}

table.browser {
  display: table;
  padding: 10px;
  border: 1px solid #ADADAD;
  border-collapse: collapse;
}
/* Mozilla Firefox gets crazy with this: */
/*
table.browser th {
  border: 1px solid black;
}
*/
/* Google Chrome doesn't support outlines in tables: */
/*
table.browser tr:hover {
  outline: 2px solid orange;
}
*/
table.browser tr:hover {
  border: 1px double orange;
}
table.browser tr#main_header {
  background-color: #65A5D3;
}
table.browser tr#main_header:hover {
  border: 1px solid #ADADAD;
}
table.browser tr#sub_header {
  background-color: #92D2FF;
}
table.browser tr#sub_header:hover {
  border: 1px solid #ADADAD;
  cursor: help;
}
table.browser colgroup#col_peptide{
  background-color:  #eeddcc;
}
table.browser colgroup#col_protein{
  background-color:  #DCEECC;
}
table.browser a:hover { 
  color: inherit;
  background: inherit;
  text-shadow: none;
}
table.browser p {
  margin: 0px;
  padding-left: 5px;
}

table.protein_ptms {
  display: table;
  padding: 0px;
  border-collapse: collapse;
  border: 1px solid #ADADAD;
  vertical-align: middle;
  background-color: white;
}
table.protein_ptms thead {
  position: initial;
}
table.protein_ptms tr { 
  border: 1px solid #ADADAD;
}
table.protein_ptms th { 
  border: 2px solid black;
}
table.protein_ptms td {
  border: 1px solid #ADADAD;
  padding: 4px;
}
table.protein_ptms p {
  margin: 0px;
  padding-left: 5px;
}

table.statistics {
  display: table;
  padding: 0px;
  border-collapse: collapse;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  text-align: center;
  vertical-align: middle;
}
table.statistics thead {
  position: initial;
}
table.statistics tr { 
  border-top: none;
  border-bottom: none;
}
table.statistics tr:hover { 
  border-top: 1px solid #ADADAD;
  border-bottom: 1px solid #ADADAD;
}
table.statistics th { 
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

/*LINKS*/
a:link, a:visited { 
  color: #141B71;
  background: inherit;
  text-decoration: none;
} 
a:hover { 
  color: #4E45BE;
  background: inherit;
  text-shadow: 1px 1px 1px #B1B1B1;
} 
.noshadow a:hover { 
  color: inherit;
  background: inherit;
  text-shadow: none;
}
a.mod:link, a.mod:visited, a.mod:hover { 
  color: inherit;
  background: inherit;
  text-shadow: none;
}
a.anchor:link, a.anchor:visited, a.anchor:hover { 
  color: inherit;
  background: inherit;
  text-shadow: none;
}
a img {
  border: 0;
  text-decoration: none;
}

/*IMAGES*/
img.left { 
  float: left;
  border: 0 solid #656c4a;
  margin: 0px 10px 0px 5px;
  padding: 10px;
} 
img.right { 
  float: right;
  border: 0 solid #656c4a;
  margin: 0px 5px 0px 10px;
  padding: 10px;
} 
img.center {
  display: block;
  text-align: center;
  border: 0 solid #656c4a;
  margin: 10px auto;
  padding: 10px;
}
img.uniprot {
    display: inline-block;
    vertical-align: middle;
    margin: 0px 5px 0px 10px;
    padding: 0px;
}
img#go_top_button {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.3s ease;
}

img#go_top_button:hover {
  bottom: 25px;
}

/*FORMS*/
form {
  display: inline-block;
  vertical-align: top;
}
form.paginator {
  vertical-align: middle;
}
fieldset {
  margin-bottom: 6px;
  margin-top: 12px;
  padding: 4.5px;
  vertical-align: top;
  text-align: center;
}
legend { 
  margin-bottom: 0px;
  color: #143c55;
  text-align: left;
} 
form label:hover {
  cursor: pointer;
}
input, textarea, select { 
  background-color: #fff;
  padding: 2px;
  margin: 1px 0 1px 0;
  font: inherit;
}
input.paginator, textarea.paginator, select.paginator { 
  text-align: center;
  margin-right: 0px;
  padding-right: 0px;
}
input:focus, textarea:focus, select:focus, input:enabled:hover, textarea:enabled:hover, select:enabled:hover { 
  background-color: #FFF5E3;
  outline: 2px solid orange;
}
button {
  background-color: #ddd;
  margin: 4px;
  font: inherit;
  text-align: center;
  vertical-align: middle;
  padding: 1px 4px 2px 3px;
}
button[type="submit"]:enabled:hover, button[type="submit"]:focus {
  cursor: pointer;
  outline: 2px solid orange;
}
button.paginator {
  margin-left: 0px;
  padding-left: 0px;
}
button:enabled:active {
  background-color: #FFF5E3;
}
button.not_ordered {
  background-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  font: inherit;
  font-weight: bold;
}
button.ordered_asc {
  background-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  font: inherit;
  font-weight: bold;
  background: transparent url(/files/images/arrow_up.gif) no-repeat center right;
}
button.ordered_dsc {
  background-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  font: inherit;
  font-weight: bold;
  background: transparent url(/files/images/arrow_down.gif) no-repeat center right;
}
button.not_ordered:enabled:hover, button.not_ordered:focus, button.ordered_asc:enabled:hover, button.ordered_asc:focus, button.ordered_dsc:enabled:hover, button.ordered_dsc:focus {
  cursor: pointer;
  outline: 0px transparent;
}
