{% extends base.template %}

{% block section %}
  <div id="content">
    <h3 id="about">About <span style="color: #FF9030;">{{APPNAME}}</span></h3>
    <p>{{APPNAME}} is a database of protein post-translational modifications 
    in human T cells built to facilitate the experimental detection of co-modified 
    peptides using targeted or directed mass spectrometry. Currently, the database 
    contains ~90,000 modified (phosphorylation, ubiquitination or acetylation) 
    sites.</p>
    <p>The <a rel="statistics" href="{% url 'statistics' %}">data in {{APPNAME}}</a> 
    has been obtained from the literature or has been generated at the 
    <a href="http://proteomica.uab.cat" 
    title="CSIC/UAB Proteomics Laboratory WebPage" target="_blank">CSIC/UAB
    Proteomics Laboratory</a>, part of the <a href="http://www.csic.es" 
    title="Spanish National Research Council (CSIC) WebPage" target="_blank">
    Spanish National Research Council (<i>Consejo Superior de Investigaciones 
    Cient&iacute;ficas</i> - CSIC)</a>.</p>
    
    <h3 id="references">References</h3>
    <p class="news"><span style="background: none;">
      <span title="acasanto &lt;at&gt; gmail.com">Casanovas, A.</span>, 
      <span title="ogallardo &lt;at&gt; proteored.org">Gallardo, Ó.</span>, 
      <span title="montserrat.carrascal.csic &lt;at&gt; uab.cat">Carrascal, M.</span>, 
      <span title="joaquim.abian.csic &lt;at&gt; uab.cat">Abian, J.</span>, 
      <em><a href="https://doi.org/10.1093/bioinformatics/bty805" target="_blank">
      TCellXTalk facilitates the detection of co-modified peptides for the study 
      of protein post-translational modification cross-talk in T cells.</a></em> 
      Bioinformatics, Volume 35, Issue 8, 15 April 2019, Pages 1404–1413, 
      <span title="Digital Object Identifier">doi</span> 
      <a href="https://doi.org/10.1093/bioinformatics/bty805" target="_blank">
      10.1093/bioinformatics/bty805</a>
    </span></p>
    
    <h3 id="credits">Credits</h3>
    <p>This work has been carried out at <a href="http://proteomica.uab.cat" 
    title="CSIC/UAB Proteomics Laboratory WebPage" target="_blank">CSIC/UAB
    Proteomics Laboratory</a>, part of the <a href="http://www.csic.es" 
    title="Spanish National Research Council (CSIC) WebPage" target="_blank">
    Spanish National Research Council (<i>Consejo Superior de Investigaciones 
    Cient&iacute;ficas</i> - CSIC)</a>.</p>
    <p>The people who has created and tested the database are:</p>
    <ul>
      <li>Mass Spectrometry, study design and implementation: <em title="montserrat.carrascal.csic &lt;at&gt; uab.cat">Montserrat Carrascal</em> and <em title="acasanto &lt;at&gt; gmail.com">Albert Casanovas</em></li>
      <li>Sample preparation: <em title="montserrat.carrascal.csic &lt;at&gt; uab.cat">Montserrat Carrascal</em> and <em title="acasanto &lt;at&gt; gmail.com">Albert Casanovas</em></li>
      <li>Data analysis, bioinformatics and informatics: <em title="ogallardo &lt;at&gt; proteored.org">&Oacute;scar Gallardo</em></li>    
      <li>Direction: <em title="joaquim.abian.csic &lt;at&gt; uab.cat">Joaquin Abian</em></li>
    </ul>
    <p>Contact details can be found at the <a rel="contact" 
    href="{% url 'contact' %}">Contact</a> section.</p>

    <h3>Funding</h3>
    <p>This work has been supported by the Spanish Ministry of Economy and 
    Competitiveness (Grant BIO2013-46492-R).</p>
    <p>The Proteomics Laboratory CSIC/UAB is a member of <a href="http://www.proteored.org/" title="ProteoRed WebPage" target="_blank">
    ProteoRed</a>, <a href="http://www.prb2.org/" title="Plataforma en Red de Recursos Biomoleculares y Bioinformáticos-ISCIII WebPage" target="_blank">
    PRB2-ISCIII</a> and PRB3-ISCIII, and is supported by Grants PT13/0001/0008 and 
    PT17/0019/0008, funded by <a href="http://www.eng.isciii.es/" title="Instituto de Salud Carlos III WebPage" target="_blank">
    ISCIII</a> and <a href="http://ec.europa.eu/regional_policy/en/funding/erdf/" title="European Regional Development Fund WebPage" target="_blank">
    FEDER</a>.</p>
    
    {% comment %}
    <h3>News and Logs</h3>
    <p class="logs">2019/03/29 Updated Web code-base.</p>
    <p class="logs">2018/04/04 Updated Web, code-base and DataBase.</p>
    <p class="logs">2018/04/04 Updated Web, code-base and DataBase.</p>
    <p class="logs">2018/02/18 Updated code-base and DataBase.</p>
    <p class="news">{{APPNAME}} in beta-testing.</p>
    <p class="news">{{APPNAME}} Web-Application Under Development.</p>
    {% endcomment %}
    
  </div>
{% endblock %}