{# Main Base Django template for the LymPHOS-UB-AC (TCellXTalk) project #}

{% load staticfiles %}

<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=8,chrome=1" />
    <meta name="Author" content="Óscar Gallardo at LP-CSIC/UAB" />
    <link rel="icon" href="{% static 'images/favicon.ico' %}" />
<!--        <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />-->
<!--        <link rel="icon" href="{% static 'images/animated_favicon.gif' %}" type="image/gif" />-->
    <link href="{% static 'css/'|add:base.css_sheet %}" rel="stylesheet" type="text/css" />
    <title>{{APPNAME}}{% if view.title %} - {{view.title}}{% endif %}</title>
    
    <script type = "text/javascript" src="{% static 'js/web_tools.js' %}"></script>
  </head>

  <body onpagehide="hide_please_wait()">
    {# {% spaceless %} #}
    
    <!-- Overlay divs and images for modal Notifications -->
    <div id="overlay" 
         style="display: none; z-index: 2000; background-color: white; opacity: 0.6; position: fixed; left: 0; top: 0; width: 100%; height: 100%; cursor: wait;">
    </div>
    <div id="overlay_img" 
         style="display: none; z-index: 2001; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); opacity: 1; cursor: wait;">
      <img id="img_overlay_1" src="{% static 'images/waiting_spinner.gif' %}" 
           title="Working, please wat..." style="display: none;" />
      <img id="img_overlay_2" src="{% static 'images/waiting_spinner.gif' %}" 
           title="Searching, please wat..." style="display: none;" />
    </div>
    <!--  -->
    
    <!-- "Go Top" arrow button and extra machinery -->
    <a class="anchor" id="top"></a>
    <img id="go_top_button" src="{% static 'images/arrowgotop.png' %}" 
         title="Go top" onclick="go_top()"/>
    <!--  -->        
    
    <div id="wrap">
      <div id="header">
        <h1>
          <a rel="start" href="/">
            <img src="{% static 'images/logo.png' %}" alt="logo" 
                 title="{{APPNAME}}" style="position: absolute;"/>
          </a>
        </h1>
        <h2>
          (cc) <em><a rel="copyright" href="http://proteomica.uab.cat" title="CSIC/UAB Proteomics Laboratory" target="_blank">Laboratori de Prote&ograve;mica CSIC/UAB</a></em>
        </h2>
      </div>
      
      <div id="menucontainer">
        {% include 'nav_bar.html' %}
      </div>

      <div id="container">
        {# Here goes the sidebar #}
        {% if base.side_bar %}
          {% include base.side_bar %}
        {% endif %}
        
        {# And now the main content of the current section #}
        {% block section %}{% endblock %}
      </div>

      <div id="footer">
        {% include 'footer.html' %}
      </div>
    </div>
    
    {# {% endspaceless %} #}
  </body>
</html>
