{% extends base.template %}

{% load staticfiles %}

{% block section %}
  <div id="content">
    <h3>Contact information</h3>
    <a href="http://proteomica.uab.cat" title="CSIC/UAB Proteomics Laboratory WebPage" target="_blank">
    <img alt="LP CSIC/UAB Logo" src="{% static 'images/logo_lpcsicuab.png' %}" class="right"></a>
    <p><a href="http://proteomica.uab.cat" title="CSIC/UAB Proteomics Laboratory WebPage" target="_blank">
    <b>Laboratori de Prote&ograve;mica CSIC/UAB</b></a><br/>
    Faculty of Medicine, Building M, UAB Campus<br/>
    08193, Cerdanyola (Barcelona), Spain<br/>
    <img src="{% static 'images/contact.png' %}" title="lp.csic &lt;at&gt; uab.cat"/><br/>
    Phone number: <b>+34 93 581 48 55</b></p>
  </div>
{% endblock %}