{% extends base.template %}

{% load staticfiles %}

{% block section %}
  <div id="content">
    <h3>Collaborate with <span style="color: #FF9030;">{{APPNAME}}</span>!</h3>
    <img src="{% static 'images/castellers2.jpg' %}" class="right" alt="Collaboration" title='"Further, science is a collaborative effort." - John Bardeen' id="collaboration_logo"/>
    <p>We aim to extend the content of TCellXTalk with new datasets, including 
    data on other PTMs besides phosphorylation, acetylation and ubiquitination.</p>
    <p>If you want to contribute your own data or are interested in the 
    addition of new datasets to the TCellXTalk database, please contact with 
    <em>Dr. Joaquin Abian</em> at:</p>
    <p><img alt="Joaquin Abian" src="{% static 'images/joaquin_contact.png' %}" 
    title="joaquim.abian.csic &lt;at&gt; uab.cat"></p>
    <br/><br/><br/><br/><br/><br/><br/>
  </div>
{% endblock %}