{% load staticfiles %}

<h3><span style="color: #FF8020;">Digestion Peptides</span> Search</h3>

<form action="{{form.post_url}}" method="post" name="digpep_search_form" style="min-width:60%;">
{% csrf_token %}
  <fieldset>
    <div style="display: inline-block;">
      {{form.digpep_seq.label}}: <br/>
      {{form.digpep_seq}}
    </div>
    &nbsp;
    <div style="display: inline-block;">
      Number of modified AAs: <br/>
      from {{form.min_mod_aas}} to {{form.max_mod_aas}}
    </div>
    &nbsp;
    <div style="display: inline-block; vertical-align: top;">
      {{form.allowed_ptms.label}}: <br/>
      {{form.allowed_ptms}}
    </div>
    &nbsp;
    {{form.order_by.as_hidden}}
    <button type="submit" onclick="please_wait(this, 2)" name="digpep_search" id="digpep_search" title="Search {{APPNAME}} DataBase for Digestion Peptides">
      <img alt="Search" src="{% static 'images/search.gif' %}">
      &nbsp;Search <b>Digestion Peptides</b>
    </button>
  </fieldset>
</form>

{# Verify interval controls JavaScript code: #}

<script type = "text/javascript" src="{% static 'js/forms_validation.js' %}"></script>
<script type = "text/javascript">
  bind_verify_interval_ctrls('{{form.min_mod_aas.id_for_label}}', '{{form.max_mod_aas.id_for_label}}')
</script>

{# End of Verify interval controls JavaScript code. #}

<div class='hints'>
<p>You can search into the database on a Digestion Peptide driven 
way: write a sequence in the in the <label for="{{form.digpep_seq.id_for_label}}">
<b>|&nbsp;text&nbsp;field&nbsp;|</b></label> up this sub-section, and then press 
the <b>|&nbsp;<img alt="Search" src="{% static 'images/search.gif' %}">&nbsp;Search&nbsp;Digestion Peptides&nbsp;|</b>
button. 
You must use the aminoacid <i>1-letter symbols</i>, and the maximum allowed chain 
is <i>25 characters</i> long. You can also use the '<span style="color: #0033CC;" title="*">*</span>' 
wildcard for 'one or more' unknown aminoacids, and/or the '<span 
style="color: #0033CC;" title="?">?</span>' wildcard for 'only one' unknown aminoacid. 
You can filter the resulting tryptic peptides according to a <label for="{{form.min_mod_aas.id_for_label}}">
<b>|&nbsp;minimum&nbsp;|</b></label> and a <label for="{{form.max_mod_aas.id_for_label}}">
<b>|&nbsp;maximum&nbsp;|</b></label> number of <em>modified aminoacids</em>, and 
also by the <em>kind of PTMs</em> that those typtic peptides are allowed to have.</p>
<p>Remember that all Digestion Peptides are <b>tryptic peptides from human proteins</b>.</p>
</div>
