{% extends "result_section.html" %}

{% load staticfiles %}

{% block results %}
  <p>
    <em>Sequences containing:</em> {{form.cleaned_data.digpep_seq}}<br />
    <em>Number of modified AAs:</em> {{view.min_mod_aas}} - {{view.max_mod_aas}}<br />
    <em>Allowed PTMs:</em> {{view.allowed_ptm_names|join:', '}}<br />
  </p>
  <br />
  
  <form action= "{{ action }}" method="post" name="file_download">
    {% csrf_token %}
    {# Data for re-entering via POST: #}
    {% for field in form %}
      {{ field.as_hidden }}
    {% endfor %}
    {# Data for re-entering via POST. #}
    <button type="submit" onclick="please_wait_file(this)" name="download" value="tsv" id="download_tsv" tabindex="2" title="Download results as a TSV file ...">
      <img alt="Download" src="{% static 'images/download.png' %}">
      &nbsp;Download results...
    </button>
  </form>
  
  {# Paginator code: #}
  
  {% with paginator=paginated_results objects="Digestion Peptides"  objects_found="total digestion peptides found:" %}
      {% include "paginator_bar.html" %}
  {% endwith %}
  
  {# End of Paginator code. #}
  
  <br />
  <table class="browser" width="100%" cellspacing="0" rules="rows">
  <colgroup span="1" id="col_peptide"></colgroup>
  <tbody>
    {# Table_Result_Headers code: #}

    {% include "table_sortable_headers.html" %}

    {# End of Table_Result_Headers code. #}

    {% for dig_pep in paginated_results.object_list %}
      <tr>
        <td>
          <span class="seqprot">{{dig_pep.prot_start}}-</span><span class="sec">{{dig_pep.htmlseq|safe}}</span><span class="seqprot">-{{dig_pep.prot_end}}</span>
        </td>
        <td align="center">
          <a href="{% url 'protein_view' dig_pep.protein.ac %}" title="{{dig_pep.protein.name}}">{{dig_pep.protein.ac}}</a>
        </td>
        <td align="center">{{dig_pep.missing_cleavages}}</td>
        <td align="center">{{dig_pep.mod_aas}}</td>
        <td>
        {% for mspep in dig_pep.mspeptides_similar %}
          <p><a href="{% url 'ms_peptide_view' mspep.id %}"><span class="sec">{{mspep.htmlseq|safe}}</span></a><small> ({{mspep.source.name}})</small></p>
        {% endfor %}
        </td>
      </tr>
    {% endfor %}

    {# Table_Result_Headers code: #}

    {% include "table_sortable_headers.html" %}

    {# End of Table_Result_Headers code. #}
  </tbody>
  </table>
  <br />
  
  {# Paginator code: #}
  
  {% with paginator=paginated_results objects="Digestion Peptides"  objects_found="total digestion peptides found:" %}
      {% include "paginator_bar.html" %}
  {% endwith %}
  
  {# End of Paginator code. #}
  
  {% if other_mspeps_paginated %}
    <br />
    <h3>Other Experimental MS Peptides Found</h3>
    <p>
      <em>Sequences containing:</em> {{form.cleaned_data.digpep_seq}}<br />
      <em>Number of modified AAs:</em> {{view.min_mod_aas}} - {{view.max_mod_aas}}<br />
      <em>Allowed PTMs:</em> {{view.allowed_ptm_names|join:', '}}<br />
    </p>
    <br />
  
    {# Paginator code: #}
  
    {% with paginator=other_mspeps_paginated objects="MS Peptides"  objects_found="other experimental MS peptides found:" %}
        {% include "paginator_bar.html" %}
    {% endwith %}
  
    {# End of Paginator code. #}
  
    <br />
    <table class="browser" width="100%" cellspacing="0" rules="rows">
    <colgroup span="1" id="col_peptide"></colgroup>
    <tbody>
      <tr id="sub_header">
        <th width="30%" title="MS Peptide Sequence">MS Peptide</th>
        <th width="20%" title="Source Repository/Paper">Source</th>
        <th width="40%" title="Protein/s containing the MS Peptide Sequence">Protein/s</th>
        <th width="10%" title="Number of aminoacids with modifications">Number of modified AAs</th>
      </tr>
        {% for mspep in other_mspeps_paginated.object_list %}
          <tr>
            <td>
              <a href="{% url 'ms_peptide_view' mspep.id %}"><span class="sec">{{mspep.htmlseq|safe}}</span></a>
            </td>
            <td align="center">&nbsp;{{mspep.source.name}}</td>
            <td align="center">
              {% for protein in mspep.proteins|dictsort:"ac" %}
                <a href="{% url 'protein_view' protein.ac %}" title="{{protein.name}}">{{protein.ac}}</a>
                {% if not forloop.last %}, {% endif %}
              {% empty %}
                <span title="Proteins found in the original source ({{mspep.source.name}}), but not in the current UniPort Human database used in this web (2015/02)">
                {% for source_prot in mspep.prots_from_source %}
                  {{source_prot}}
                  {% if not forloop.last %}
                    ,
                  {% else %}
                    <sup>*</sup>
                  {% endif %}
                {% empty %}
                  -
                {% endfor %}
                </span>
              {% endfor %}
            </td>
            <td align="center">{{mspep.pos2modifications|length}}</td>
          </tr>
        {% endfor %}
      <tr id="sub_header">
        <th width="30%" title="MS Peptide Sequence">MS Peptide</th>
        <th width="20%" title="Source Repository/Paper">Source</th>
        <th width="40%" title="Protein/s containing the MS Peptide Sequence">Protein/s</th>
        <th width="10%" title="Number of aminoacids with modifications">Number of modified AAs</th>
      </tr>
    </tbody>
    </table>
    <br />
  
    {# Paginator code: #}
  
    {% with paginator=other_mspeps_paginated objects="MS Peptides"  objects_found="other experimental MS peptides found:" %}
        {% include "paginator_bar.html" %}
    {% endwith %}
  
    {# End of Paginator code. #}
  
  {% endif %}
  
  <form action= "{{ action }}" method="post" name="file_download">
    {% csrf_token %}
    {# Data for re-entering via POST: #}
    {% for field in form %}
      {{ field.as_hidden }}
    {% endfor %}
    {# Data for re-entering via POST. #}
    <button type="submit" onclick="please_wait_file(this)" name="download" value="tsv" id="download_tsv" tabindex="2" title="Download results as a TSV file ...">
      <img alt="Download" src="{% static 'images/download.png' %}">
      &nbsp;Download results...
    </button>
  </form>
  
  <br />
{% endblock %}