{% extends base.template %}

{% load staticfiles %}

{% block section %}
  <div id="content">
    {% if not errors %}
      {% include view.download_step|add:".html" %}
    {% else %}
      {# Here goes the Errors #}
      {% include 'errors_include.html' %}
      <br/><br/><br/>
      <em>
        Please,
        <a title="Try Again to Download {{APPNAME}} DataBase" 
           href="{% url 'download' %}" rel="section">
        try Downloading again
        </a>!
      </em>
      <br/>
    {% endif %}
  </div>
{% endblock %}