{% load staticfiles %}

<h3>{{view.title}}</h3>

<p>The complete {{APPNAME}} database can be downloaded here as a
<a href="https://www.7-zip.org/" target="_blank" title="7-Zip compression program">
7-Zip compressed</a> <span title="Structured Query Language">SQL</span> file 
(a dump from the MySQL {{APPNAME}} database). 
You can <a href="https://stackoverflow.com/a/21091197" target="_blank" 
title="MySQL: How to export and import a .SQL file from command line">import 
this SQL file</a> into a <a href="https://www.mysql.com/" target="_blank" 
title="Oracle MySQL database server">MySQL</a> or <a href="https://mariadb.org/" 
target="_blank" title="MariaDB database seerver">MariaDB</a> server to recreate 
a functional {{APPNAME}} database, which can be browsed using 
<a href="https://www.mysql.com/products/workbench/" target="_blank" 
title="Oracle MySQL Workbench visual tool">MySQL Workbench</a>, Microsoft Access 
or <a href="https://www.libreoffice.org/" target="_blank" 
title="LibreOffice free office suite">LibreOffice Base</a>.</p>

<form action="{% url 'download' %}" method="post" name="download_step_start" 
      style="width: 100%; text-align: center; vertical-align: middle;">
  {% csrf_token %}
  <p style="text-align: center;">Press the button below to start the download 
  of <em>{{ view.filename }}</em> file 
  {% if view.filesize_mib %}
    (<em> {{ view.filesize_mib|floatformat:1 }} 
      <a href="https://en.wikipedia.org/wiki/Mebibyte" 
         title="IEC MebiBytes" target="_balnk">MiB</a>
    </em>)
  {% endif %}
  :</p>
  <button type="submit" id="step" name="step" value="download_step_end"
          title="{{ view.filename }} {% if view.filesize_mib %}({{ view.filesize_mib|floatformat:1 }} MiB){% endif %}">
    <img alt="Download" src="{% static 'images/download.png' %}" />
    Download TCellXTalk Database
  </button>
</form>