{% load staticfiles %}

<h3>{{view.title}}</h3>

<p>The complete {{APPNAME}} database can be downloaded here as a
<a href="https://www.7-zip.org/" target="_blank" title="7-Zip compression program">
7-Zip compressed</a> <span title="Structured Query Language">SQL</span> file 
(a dump from the MySQL {{APPNAME}} database). 
You can <a href="https://stackoverflow.com/a/21091197" target="_blank" 
title="MySQL: How to export and import a .SQL file from command line">import 
this SQL file</a> into a <a href="https://www.mysql.com/" target="_blank" 
title="Oracle MySQL database server">MySQL</a> or <a href="https://mariadb.org/" 
target="_blank" title="MariaDB database seerver">MariaDB</a> server to recreate 
a functional {{APPNAME}} database, which can be browsed using 
<a href="https://www.mysql.com/products/workbench/" target="_blank" 
title="Oracle MySQL Workbench visual tool">MySQL Workbench</a>, Microsoft Access 
or <a href="https://www.libreoffice.org/" target="_blank" 
title="LibreOffice free office suite">LibreOffice Base</a>.</p>


<style>
/* Exposing additional form fields via CSS when checked radio buttons. 
   Based on https://css-tricks.com/exposing-form-fields-radio-button-css/ */
.next {
  display: none;
/*   opacity: 0; */
/*   height: 0px; */
/*   overflow: hidden; */
  transition: 0.5s;
}
input[type="checkbox"]:checked ~ .next {
  display: inline-block;
/*   opacity: 1; */
/*   height: initial; */
/*   overflow: visible; */
/*   transform: scale(1);   */
}
</style>


<form action="{% url 'download' %}" method="post" name="download_step_start" 
      style="width: 100%; text-align: center; vertical-align: middle;">
  {% csrf_token %}
  <div>
    <div style="border: 1px solid black; margin: 4px; padding: 6px; 
          text-align: initial; display: inline-block; width: 95%; 
          max-height: 250px; overflow: auto;"> <!-- Make text scrollable within div. Based on https://stackoverflow.com/a/24918077*/ -->
      {% include 'terms_and_conditions.html' %}
      <script type="text/javascript">
        function onchange_iaccept (check_box) {
        	if (check_box.checked) {
        		document.getElementById('step').style.display = 'inline-block';
        	} else {
        		document.getElementById('step').style.display = 'none';
        	}
        }
        var i_accept;
        i_accept = '<p style="text-align: center;"><input type="checkbox" ' +
                   'id="accept_conds" name="accept_conds" required onchange="onchange_iaccept(this)">' +
                   '<label for="accept_conds" title="You must accept these Terms and Conditions to continue">' + 
                   ' I <em>accept</em> these Terms and Conditions.</label></p>'
        document.write(i_accept)                
      </script>
    </div>
    <div style="text-align: center; display: inline-block; width: 100%;">
      <script type="text/javascript">
        var btnnext;
        btnnext = '<button type="submit" class="next" id="step" name="step"' +
                  'value="download_step_start" title="Continue to download...">Continue</button>'
        document.write(btnnext)                
      </script>
      <noscript>
        <input type="checkbox" id="accept_conds" name="accept_conds" required>
        <label for="accept_conds" title="You must accept these Terms and Conditions to continue">
          I <em>accept</em> these Terms and Conditions.
        </label>
        <br/>
        <button type="submit" class="next" id="step" name="step" 
                value="download_step_start" title="Continue to download...">
          Continue
        </button>
      </noscript>
    </div>
  </div>
</form>