<h3>{{view.title}} Problems</h3>
<br />
<ol type="1">
  {% for error_key, errs in errors %}
    <li>{{error_key}}:
      <span style="color: red;">
        <ul>
          {% for err in errs %}
            <li>{{err}}</li>
          {% endfor %}
        </ul>
      </span>
    </li>
  {% endfor %}
</ol>