{% load staticfiles %}
<br />
<span class="noshadow">
{{APPNAME}} Web Application is designed using the 
<a rel="bookmark" href="https://www.djangoproject.com/" 
 title="The Django framework Home Page">Django Framework</a> and the 
<a rel="bookmark" href="https://www.python.org" 
 title="Python Programming Language Official Website">Python</a> Programming Language.
<a rel="bookmark" href="https://www.djangoproject.com/">
  <img src="{% static 'images/djangoproject120x25.gif' %}" alt="A Django project." 
   title="A Django project." id="django_logo" vspace="3" hspace="3" 
   style="vertical-align: middle;" />
</a>
<a rel="bookmark" href="https://www.python.org/" title="Python Powered" >
  <img src="{% static 'images/python-powered-w-70x28.png' %}" alt="Python Powered" 
   id="python_logo" vspace="3" hspace="3" style="vertical-align: middle;" />
</a>
<br />
<a rel="license" href="https://creativecommons.org/licenses/by-nc-sa/4.0/" 
 title="Creative Commons Attribution-NonCommercial-ShareAlike">
  <img alt="Creative Commons License" 
   src="https://i.creativecommons.org/l/by-nc-sa/4.0/80x15.png" 
   style="vertical-align: middle;" />
 </a>
<span xmlns:dct="https://purl.org/dc/terms/" property="dct:title">
{{APPNAME}} Web-App</span> by 
<a xmlns:cc="https://creativecommons.org/ns#" 
 href="http://proteomica.uab.cat" title="CSIC/UAB Porteomics Laboratory" 
 property="cc:attributionName" rel="cc:attributionURL">
    Laboratori de Proteòmica CSIC/UAB
</a> 
is licensed under a 
<a rel="license" href="https://creativecommons.org/licenses/by-nc-sa/4.0/" 
 title="Creative Commons License">
    Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.
</span>
<br /><br />
<hr style="width: 50%;color: lightcyan;">
<span class="noshadow" style="line-height: 1.4;">
<img title="Reference" src="{% static 'images/news.gif' %}" 
 style="vertical-align: middle;" />
Casanovas, A., Gallardo, Ó., Carrascal, M., Abian, J., 
<span style="font-style: italic;"><a href="https://doi.org/10.1093/bioinformatics/bty805" target="_blank">
TCellXTalk facilitates the detection of co-modified peptides for the study 
of protein post-translational modification cross-talk in T&nbsp;cells.</a></span> 
Bioinformatics, Volume 35, Issue 8, 15 April 2019, Pages 1404–1413, 
<span title="Digital Object Identifier">doi</span> 
<a href="https://doi.org/10.1093/bioinformatics/bty805" target="_blank">
10.1093/bioinformatics/bty805</a>
</span>
<br />&nbsp;
