{% extends base.template %}

{% load staticfiles %}

{% block section %}
  <div id="content">
    <h3><span style="color: #FF9030;">Search</span> options</h3>
    <p>The TCellXTalk database can be queried for either proteins or peptide sequences 
    of interest using the <a rel="section" href="{% url 'search' %}" title="Search section">
    Search</a> section.</p>
    <p><em>Proteins</em> can be searched using a text field that enables searches by 
    the UniProt ACcession Number (e.g., "P16402"), the UniProt ID (e.g., "CYC_HUMAN") 
    or words included in the UniProtKB protein description (e.g., "kinase").<br/>
    The wildcards <span  title="*">"<span style="color: #0033CC;">*</span>"</span> for 
    "<span style="color: #0033CC;">one or more</span>" unknown letters (e.g., 
    "P16<span style="color: #0033CC;">*</span>"), and <span  title="?">
    "<span style="color: #0033CC;">?</span>"</span>
    for "<span style="color: #0033CC;">only one</span>" unknown letter (e.g., 
    "P164<span style="color: #0033CC;">?</span>5") can also be used.<br/>
    Multiple proteins can be searched in batch entering, in the text-area field, 
    their UniProt ACcession Numbers separated by spaces, commas or semi-colons.<br/>
    In this case, wilcards cannot be used.<br/>
    All proteins in the database can be browsed pressing the <b>|&nbsp;<img alt="Browse" 
    src="{% static 'images/magnify.png' %}"/>&nbsp;Browse&nbsp;All&nbsp;Proteins&nbsp;|</b> 
    button.</p>
    <p>Alternatively, the database can be queried for <em>peptides</em> containing a 
    certain sequence of interest. Peptide sequences must be entered using the amino 
    acid <a href="https://en.wikipedia.org/wiki/Amino_acid#Table_of_standard_amino_acid_abbreviations_and_properties" 
    target="_blanck">1-letter code</a>.<br/>
    The wildcards <span  title="*">"<span style="color: #0033CC;">*</span>"</span> and 
    <span title="?">"<span style="color: #0033CC;" title="?">?</span>"</span> can be 
    used for "<span style="color: #0033CC;">one or more</span>" or 
    "<span style="color: #0033CC;">only one</span>" unknown amino acids, respectively.</p>

    <h3>Options for <span style="color: #FF9030;">inference of peptides</span></h3>
    <p>In the protein detail view, {{APPNAME}} allows the generation of potential 
    co-modified peptides by <i>in silico</i> protein digestion and subsequent filtering 
    of peptides with PTM combinations based on user-specified digestion enzyme, 
    peptide length, number of PTMs and required PTM type(s).<br/>
    The resulting list of co-modified peptides can be readily accessed or downloaded 
    as a <a href="https://en.wikipedia.org/wiki/Tab-separated_values" target="_blanck">
    tab-separated values (TSV)</a> file which can be imported in any spreadsheet program.<br/>
    Three different proteases can be used for protein digestion: 
    (i) “GluC”, (ii) “Trypsin” (with canonical trypsin specificity) or (iii) “Trypsin 
    with exceptions”, which allows a missed cleavage when the sequence contains two 
    consecutive lysine and/or arginine residues.</p>
  </div>
{% endblock %}
