{% extends base.template %}

{% load staticfiles %}

{% block section %}
  <div id="content">
    <h3>Welcome to <span style="color: #FF9030;">{{APPNAME}}</span></h3>
    <p>{{APPNAME}} is a comprehensive database of experimentally detected 
    phosphorylation, ubiquitination and acetylation sites in human T cells.</p>
    <p>{{APPNAME}} enables the <i>in silico</i> generation of potential co-modified 
    peptides to facilitate their experimental detection, using targeted or directed 
    mass spectrometry, for the study of protein post-translational modification 
    cross-talk.</p>
    <p>More detailed information on this site and the people behind it at the 
    <a href="http://proteomica.uab.cat" title="CSIC/UAB Proteomics Laboratory WebPage" 
    target="_blank">CSIC/UAB Proteomics Laboratory</a> can be obtained at 
    the <a rel="section" href="{% url 'about' %}" title="About {{APPNAME}}">About</a> 
    section.</p>
    <p>For any question regarding {{APPNAME}}. Please, 
    <a href="{% url 'contact' %}" title="Contact with us">contact us</a>.</p>

    <br/><br/>
    <p>If you use TCellXTalk in your research, please <em>cite this article</em>:</p>
    <p class="news"><span style="background: none;">
      <span title="acasanto &lt;at&gt; gmail.com">Casanovas, A.</span>, 
      <span title="ogallardo &lt;at&gt; proteored.org">Gallardo, Ó.</span>, 
      <span title="montserrat.carrascal.csic &lt;at&gt; uab.cat">Carrascal, M.</span>, 
      <span title="joaquim.abian.csic &lt;at&gt; uab.cat">Abian, J.</span>, 
      <em><a href="https://doi.org/10.1093/bioinformatics/bty805" target="_blank">
      TCellXTalk facilitates the detection of co-modified peptides for the study 
      of protein post-translational modification cross-talk in T cells.</a></em> 
      Bioinformatics, Volume 35, Issue 8, 15 April 2019, Pages 1404–1413, 
      <span title="Digital Object Identifier">doi</span> 
      <a href="https://doi.org/10.1093/bioinformatics/bty805" target="_blank">
      10.1093/bioinformatics/bty805</a>
    </span></p>
    
  </div>
{% endblock %}