{% extends "result_section.html" %}

{% load staticfiles %}

{% block results %}
  <p>
    <em>Searched sequences containing:</em> '&nbsp;{{view.raw_search_value}}&nbsp;'<br />
    <em>Allowed Source{{view.allowed_sources_names|pluralize}}:</em> {{view.allowed_sources_names|join:', '}}<br />
  </p>
  <br />
  
  {# Paginator code: #}
  
  {% with paginator=paginated_results objects="MS Peptides" objects_found="total MS peptides found." %}
    {% include "paginator_bar.html" %}
  {% endwith %}
  
  {# End of Paginator code. #}
  
  <br />
  <table class="browser" width="100%" cellspacing="0" rules="rows">
    <thead>
      {# Table_Result_Headers code: #}
  
      {% include "table_sortable_headers.html" %}
  
      {# End of Table_Result_Headers code. #}
    </thead>      
    <colgroup span="1" id="col_peptide"></colgroup>
    <tbody>
      {% for mspep in paginated_results.object_list %}
        <tr id="{{ forloop.counter }}">
          <td>
            <a href="{% url 'ms_peptide_view' mspep.id %}"><span class="sec">{{mspep.sightmlseq|safe}}</span></a>
          </td>
          <td align="center">{{mspep.source.name}}</td>
          <td align="center">
            {% for protein in mspep.proteins|dictsort:"ac" %}
              <a href="{% url 'protein_view' protein.ac %}" title="{{protein.name}}" onclick="please_wait()">{{protein.ac}}</a>
              {% if not forloop.last %}, {% endif %}
            {% empty %}
              {% if mspep.prots_from_source %}
                <span title="Proteins found in the original source ({{mspep.source.name}}), but not in the current UniPort Human database used in this web (2015/02)">
                {{mspep.prots_from_source|join:', '}} <sup>*</sup>
                </span>
              {% else %}
                -
              {% endif %}
            {% endfor %}
          </td>
          <td align="center">{{mspep.mod_aas}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <br />
  
  {# Paginator code: #}
  
  {% with paginator=paginated_results  objects="" objects_found="" %}
    {% include "paginator_bar.html" %}
  {% endwith %}
  
  {# End of Paginator code. #}
  <br />
{% endblock %}