{% extends "result_section.html" %}

{% load staticfiles %}
{% load lymphosubac_tags %}

{% block results %}

  {# Lorikeet JavaScript Spectrum Viewer 'Imports' #}
  {% if view.spectrum_viewer == 'lorikeet' %}
    {% include 'spectrum_viewer_lorikeet_global.html' %}
  {% endif %}
  
  <br/>
  <h4>
    Peptide: <span class="sec">{{mspeptide.sightmlseq|safe}}</span><br/>
    Source dataset: <i>{{mspeptide.source.name}}</i>
  </h4>
  <br/>
  
  <div style="display:inline-block; vertical-align:top;">
    <em>Proteins containing this peptide:&nbsp;</em>
  </div>
  <div style="display:inline-block;">
    {% for prot in mspeptide.proteins|dictsort:"ac" %}
      <a href="{% url 'protein_view' prot.ac %}" title="{{prot.name}}" 
         onclick="please_wait()">
        {{prot.ac}}
        {% if not prot.reviewed %}
          <span title="(Caution: this entry has NOT been manually annotated, and belongs to the computer-annotated TrEMBL section of UniProtKB)">(not reviewed)</span>
        {% endif %}
      </a><br/>
    {% empty %}
      {% for prot in mspeptide.prots_from_source %}
        {{prot}}<br/>
      {% empty %}
        -
      {% endfor %} 
    {% endfor %} 
  </div>
  <br/><br/><br/>
  
  {# Paginator code: #}
  
  {% with paginator=paginated_psms objects="PSMs"  objects_found="" %}
    {% include "paginator_bar.html" %}
  {% endwith %}
  
  {# End of Paginator code. #}
  
  <br/>
  {% for psm in paginated_psms.object_list %}
    <h5>
      {% comment %}
      Spectrum ID: {{psm.spectrum.id}}<br/>
      {% endcomment %}
      {% if psm.scores %}
        <div style="display:inline-block; vertical-align:top;">
          PSM Scores:&nbsp;
        </div>
        <div style="display:inline-block;">
          {% for key, value in psm.scores.items|dictsort:"0" %}
            {% if value %}
              {{key}}: {% if value|get_type == 'float' and value >= 0.0001 %}{{value|floatformat:4}}{% else %}{{value}}{% endif %}<br/>
            {% endif %}
          {% endfor %}
        </div>
      {% else %}
        Sorry, no scores available for this PSM from source {{mspeptide.source.name}}
      {% endif %}
    </h5>
    
    {% if psm.modifications %}
      <br/>
      <em>PTMs data:</em>
      <table class="protein_ptms" width="50%" cellspacing="0">
      <tbody>
        <tr>
          <th>Position</th>
          <th>Modification</th>
          <th>Ascore</th>
        </tr>
        {% for position, ptms in psm.pos2ptms %}
          {% for ptm in ptms %}
            <tr>
              {% if forloop.counter == 1 %}
                  <td rowspan="{{ptms|length}}">{{position}}</td>
              {% endif %}
              <td>{{ptm.mod_type.full_name}}</td>
              <td align="center">
                {% if ptm.ascore %}
                  {{ptm.ascore}}
                  {% if ptm.significant %}
                    (significant)
                  {% else %}
                    (not significant)
                  {% endif %}
                {% else %}
                  -
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        {% endfor %}
      </tbody>
      </table>
    {% endif %}
    
    {% if psm.spectrum.ms_n or psm.spectrum.parent_mass or psm.spectrum.charge or psm.spectrum.rt or psm.spectrum.raw_file or psm.spectrum.scan_i %}
      <br/>
      <em>Spectrum data:</em><br/>
      <table class="protein_ptms" width="100%" cellspacing="0">
      <tbody>
        <tr>
        {% if psm.spectrum.ms_n %}
          <th>MS <sup>n</sup></th>
        {% endif %}
        {% if psm.spectrum.parent_mass %}
          <th>Parent Mass</th>
        {% endif %}
        {% if psm.spectrum.charge %}
          <th>Charge</th>
        {% endif %}
        {% if psm.spectrum.rt %}
          <th>Retention time</th>
        {% endif %}
        {% if psm.spectrum.raw_file %}
          <th>RAW file</th>
        {% endif %}
        {% if psm.spectrum.scan_i %}
          <th>
          {% if psm.spectrum.scan_i == psm.spectrum.scan_f %}
            Scan
          {% else %}
            Scans
          {% endif %}
          </th>
        {% endif %}
        </tr>
        <tr align="center">
        {% if psm.spectrum.ms_n %}
          <td>{{psm.spectrum.ms_n}}</td>
        {% endif %}
        {% if psm.spectrum.parent_mass %}
          <td>{{psm.spectrum.parent_mass}}</td>
        {% endif %}
        {% if psm.spectrum.charge %}
          <td>{{psm.spectrum.charge}}</td>
        {% endif %}
        {% if psm.spectrum.rt %}
          <td>{{psm.spectrum.rt}} min.</td>
        {% endif %}
        {% if psm.spectrum.raw_file %}
          <td>{{psm.spectrum.raw_file}}</td>
        {% endif %}
        {% if psm.spectrum.scan_i %}
          <td>
          {% if psm.spectrum.scan_i == psm.spectrum.scan_f %}
            {{psm.spectrum.scan_i}}
          {% else %}
            {{psm.spectrum.scan_i}} - {{psm.spectrum.scan_f}}
          {% endif %}
          </td>
        {% endif %}
        </tr>
      </tbody>
      </table>
    {% endif %}
    
    {% if psm.spectrum.has_mzs_intensities %}
      <table class="protein_ptms" width="100%" cellspacing="0">
      <tbody>
        <tr align="center"><td>
          {% with psm.spectrum.id|stringformat:'s' as spec_id %}
            {% with spec_id|add:"-"|add:mspeptide.seq as file %}
              {% if view.spectrum_viewer == 'lorikeet' %}
                {# Lorikeet JavaScript Spectrum Viewers #}
                {% with psm.spectrum as spectrum %}
                  {% include 'spectrum_viewer_lorikeet.html' %}
                {% endwith %}
                <noscript>
                   <!-- Support for browsers with no javascript -->
                  <img alt="spectrum" src="{% url 'spectrum_image' file|add:'.png' %}"/>
                  <br/>
                </noscript>
              {% else %}
                <img alt="spectrum" src="{% url 'spectrum_image' file|add:'.png' %}"/>
                <br/>
              {% endif %}
              <form action="{% url 'download_mgf' file|add:'.mgf' %}" method="post">
              {% csrf_token %}
                <center>
                  <button type="submit" name="file" title="Download spectrum {{spec_id}}">
                    <img alt="Download spectrum {{psm.spectrum.id}}" 
                         src="{% static 'images/download.png' %}">
                    &nbsp;Download spectrum {{spec_id}} in MGF format
                  </button>
                </center>
              </form>
            {% endwith %}
          {% endwith %}
        </td></tr>
      </tbody>
      </table>
    {% endif %}
    
    <br/>
  {% endfor %}
  <br/>
  
  
  {# Paginator code: #}
  
  {% with paginator=paginated_psms objects=""  objects_found="" %}
    {% include "paginator_bar.html" %}
  {% endwith %}
  
  {# End of Paginator code. #}
  
  <br/><br/>
{% endblock %}