{% load staticfiles %}

<h3><span style="color: #FF8020;">Peptide</span> Search</h3>

<form action="{{form.post_url}}" method="post" name="mspep_search_form" 
      style="min-width:60%;">
{% csrf_token %}
  <fieldset>
    <div style="display: inline-block;; vertical-align: top;">
      <span title="{{form.mspep_seq.field.widget.attrs.title}}">
        {{form.mspep_seq.label_tag}}
      </span><br/>
      {{form.mspep_seq}}<br/>
      <small>(max. {{form.mspep_seq.field.max_length}} characters)</small>
    </div>
    &nbsp;
    {% comment %}
      <div style="display: inline-block;">
        Number of modified AAs: <br/>
        from {{form.min_mod_aas}} to {{form.max_mod_aas}}
      </div>
      &nbsp;
      <div style="display: inline-block; vertical-align: top;">
        <span title="{{form.allowed_ptms.field.widget.attrs.title}}">
          {{form.allowed_ptms.label_tag}}
        </span><br/>
        {{form.allowed_ptms}}
      </div>
      &nbsp;
    {% endcomment %}
    <div style="display: inline-block; vertical-align: top;">
      <span title="{{form.sources.field.widget.attrs.title}}">
        {{form.sources.label_tag}}
      </span><br/>
      {{form.sources}}
    </div>
    &nbsp;&nbsp;
    {{form.sort_tags.as_hidden}}
    <button type="submit" onclick="please_wait(this, 2)" name="digpep_search" 
            id="digpep_search" title="Search peptides in the database" 
            style="vertical-align: top;">
      <img alt="Search" src="{% static 'images/search.gif' %}">
      &nbsp;Search <b>Peptides</b>
    </button>
  </fieldset>
</form>

{% comment %}
  {# Verify interval controls JavaScript code: #}
  
  <script type = "text/javascript" src="{% static 'js/forms_validation.js' %}"></script>
  <script type = "text/javascript">
    bind_verify_interval_ctrls('{{form.min_mod_aas.id_for_label}}', '{{form.max_mod_aas.id_for_label}}')
  </script>
  
  {# End of Verify interval controls JavaScript code. #}
{% endcomment %}

<div class='hints'>
  <p>The database can be queried for peptides containing a peptide sequence of 
  interest. Details on the search options can be found in the <a  rel="section" 
  href="{% url 'help' %}">Help</a> section.</p>
</div>
