<div id="menunav">
  <ul>
    {% for name, item in base.sections.items %}
      <li><a rel="section" 
      {% if name == view.section %}
        class="current"  
      {% else %}
        class="" 
      {% endif %}
      href="{% url name %}" title="{{item.title}}"><span>{{item.label}}</span></a></li>
    {% endfor %}
  </ul>
</div>
