{# Paginator code: #}

<small>
{% if paginator.paginator.num_pages > 1 %}
  <table width="100%">
    <tbody><tr valign="middle">
      {% if not quicksearch %}
        <td align="left">
          {% if objects %}
            <em>
              {{ objects|capfirst }} <span style="color: #6C67AA;">{{ paginator.start_index }} - 
              {{ paginator.end_index }}</span> of <span style="color: #FF8020;">{{ paginator.paginator.count }}</span>  
              {% if objects_found %}{{ objects_found }}{% else %}total {{ objects }} found.{% endif %}
            </em>
          {% endif %}
        </td>
        <td align="right">
          <form class="paginator" action="{{ action }}{{ object }}" method="post" 
                name="paginator_{{ objects }}_search">
            {% csrf_token %}
            {# Data for re-entering via POST: #}
            {% for field in form %}
              {{ field.as_hidden }}
            {% endfor %}
            {# Data for re-entering via POST. #}
            <button type="submit" name="page" id="previous_page" tabindex="1"
                    {% if paginator.has_previous %}
                      value="{{ paginator.previous_page_number }}"
                      onclick="please_wait(this)" 
                      title="Previous page ({{ paginator.previous_page_number }})"
                    {% else %}
                      value="1"
                      title="No previous page"
                      disabled 
                    {% endif %} >
              <b>&lt;&lt;</b>
            </button>
          </form>
          &nbsp;
          <form class="paginator" action="{{ action }}{{ object }}" method="post" 
                name="paginator_{{ objects }}_search">
            {% csrf_token %}
            {# Data for re-entering via POST: #}
            {% for field in form %}
              {{ field.as_hidden }}
            {% endfor %}
            {# Data for re-entering via POST. #}
            <div class="current">
              Page 
              <input class="paginator" type="number" name="page" id="go_page"
                     value="{{ paginator.number }}" 
                     placeholder="{{ paginator.number }}"
                     max="{{ paginator.paginator.num_pages }}" min="1"
                     required style="width: 5em;"
                     title="Enter a page number between 1 and {{ paginator.paginator.num_pages }}, then hit enter key to go"
                     onclick="this.select()" 
                     onkeypress="submitform_on_enter(event)"
              ><noscript><button class="paginator" type="submit" name="go" 
                                 id="go" title="Go to the especified page">
                Go
              </button> </noscript>
              of {{ paginator.paginator.num_pages }}
            </div>
          </form>
          &nbsp;
          <form class="paginator" action= "{{ action }}{{ object }}" method="post" 
                name="paginator_{{ objects }}_search">
            {% csrf_token %}
            {# Data for re-entering via POST: #}
            {% for field in form %}
              {{ field.as_hidden }}
            {% endfor %}
            {# Data for re-entering via POST. #}
            <button type="submit" name="page" id="next_page" tabindex="2" 
                    {% if paginator.has_next %}
                      value="{{ paginator.next_page_number }}" 
                      onclick="please_wait(this)" 
                      title="Next page ({{ paginator.next_page_number }})"
                    {% else %}
                      value="{{ paginator.paginator.num_pages }}"
                      title="No next page"
                      disabled 
                    {% endif %} >
              <b>&gt;&gt;</b>
            </button>
          </form>
          {% if view.allowed_itemsxpage %}
            &nbsp;&nbsp;
            <form class="paginator" action= "{{ action }}{{ object }}" method="post" 
                  name="paginator_{{ objects }}_search">
              {% csrf_token %}
              {# Data for re-entering via POST: #}
              {% for field in form %}
                {{ field.as_hidden }}
              {% endfor %}
              {# Data for re-entering via POST. #}
              <select class="paginator" id="itemsxpage" name="itemsxpage" 
                      title="Select the number of {{ objects|capfirst }} per page"
                      onchange="this.form.submit()">
                {% for value in view.allowed_itemsxpage %}
                  <option value="{{ value }}" 
                          {% if value == view.itemsxpage %}
                            selected="selected"
                          {% endif %} >
                    {{ value }}
                  </option>
                {% endfor %}
              </select><noscript><button class="paginator" type="submit" name="set" 
                                         id="set" title="Set the {{ objects|capfirst }} per page to especified number">
                Set
              </button> </noscript>
            </form>
          {% endif %}
        </td>
      {% else %}
        <td align="left">
          {% if objects %}
            <em>
              Showing only the first <span style="color: #6C67AA;">50</span> {{ objects }} of the
              {% if objects_found %}{{ objects_found }}{% else %}total {{ objects }} found.{% endif %}
            </em>
          {% endif %}
        </td>
        <td align="right">
          If you want to get the full result list do a <a href="{% url 'search' %}">regular Search</a>
        </td>
      {% endif %}
    </tr></tbody>
  </table>
{% else %}
  {% if objects %}
    <em>
      {% if objects_found %}{{ objects_found|capfirst }}{% else %}Total {{ objects }} found: {% endif %}
      <span style="color: #FF8020;">{{ paginator.paginator.count }}</span> 
    </em>
    <br/>
  {% endif %}
{% endif %}
</small>

{# End of Paginator code. #}