{% extends "result_section.html" %}

{% load staticfiles %}

{% block results %}
  <br />
  <h4><a href="{% url 'protein_view' protein.ac %}" title="{{protein.name}}" onclick="please_wait()">{{protein.ac}}</a></h4>
  
  {% include form.template_include with form=form %}
  
  <p>
    <em>Protease:</em> {{protease.name}}<br />
    {% comment %}
      <em>Missed Cleavages:</em> {{view.missing_cleavage_lvls}}<br />
    {% endcomment %}
    <em>Peptide lengths:</em> {{view.min_pep_length}} - {{view.max_pep_length}} AAs<br />
    {% comment %}
      <em>Max. Missed Cleavages:</em> {{view.max_missing_cleavages}}<br />
    {% endcomment %}
    <em>PTMs/peptide:</em> {{view.min_total_ptms}} - {{view.max_total_ptms}}<br />
    <em>Max. PTMs of same type/peptide:</em> {{view.max_equal_ptms}}<br />
    <em>PTMs required:</em> {{view.exclusiveptm_names}}
    <br />
  </p>
  <br />
  
  <table class="browser" width="100%" cellspacing="0" rules="rows">
  <colgroup span="1" id="col_peptide"></colgroup>
  {% if view.action == 'digest' %}
    <thead>
      <tr id="sub_header">
        <th>Digestion Peptide</th>
        <th>Missed cleavages</th>
        <th>Number of modified AAs</th>
        <th>Matching MS peptides in database</th>
      </tr>
    </thead>
    <tbody>
      {% for dig_pep, mspeps in dig_pep2mspeps.items %}
        <tr>
          <td><span class="seqprot">{{dig_pep.prot_start}}-</span><span class="sec">{{dig_pep.htmlseq|safe}}</span><span class="seqprot">-{{dig_pep.prot_end}}</span></td>
          <td align="center">{{dig_pep.missing_cleavages}}</td>
          <td align="center">{{dig_pep.mod_aas}}</td>
          <td> 
          {% for mspep in mspeps %}
            <p><a href="{% url 'ms_peptide_view' mspep.id %}"><span class="sec">{{mspep.htmlseq|safe}}</span></a><small> ({{mspep.source.name}})</small></p>
          {% endfor %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  {% else %}
    <thead>
      <tr id="sub_header">
        <th>Digestion Peptide</th>
        <th>Missed cleavages</th>
        <th>Number of modified AAs</th>
        <th>Peptide mass (monoisotopic)</th>
      </tr>
    </thead>
    <tbody>
      {% for dig_pep in dig_peps %}
        <tr>
          <td><span class="seqprot">{{dig_pep.prot_start}}-</span><span class="sec">{{dig_pep.htmlseq|safe}}</span><span class="seqprot">-{{dig_pep.prot_end}}</span></td>
          <td align="center">{{dig_pep.missing_cleavages}}</td>
          <td align="center">{{dig_pep.mod_aas}}</td>
          <td align="center">{{dig_pep.mass}}</td>
        </tr>
      {% endfor %}
    </tbody>
  {% endif %}
  </table>
  
  <br />
{% endblock %}