{% load staticfiles %}

<form action="{{form.post_url}}" method="post" id="infer_form" name="protein_digest_form" 
      style="min-width:50%; margin:5px; padding:5px; text-align:center;">
  {% csrf_token %}
  <fieldset>
    <legend>Peptide inference parameters:</legend>
    
    {{form.protein_ac.as_hidden}}
    
    <span title="{{form.protease.field.widget.attrs.title}}">
      {{form.protease.label_tag}}
    </span>
    {{form.protease}}
  {% comment %}
      <span title="{{form.missing_cleavage_lvls.field.widget.attrs.title}}">
        {{form.missing_cleavage_lvls.label_tag}}
      </span>
      {{form.missing_cleavage_lvls}}
    </fieldset>
    
    <fieldset>
      <legend>Post-Digestion Filter Options:</legend>
  {% endcomment %}
    
    <label for="{{form.min_pep_length.id_for_label}}"
           title="Enter Minimum and Maximum length for predicted peptides">
      &nbsp;&nbsp;Peptide length:
    </label>
    {{form.min_pep_length}} - {{form.max_pep_length}}
    {% comment %}
      <span title="{{form.max_missing_cleavages.field.widget.attrs.title}}">
        {{form.max_missing_cleavages.label_tag}}
      </span>
      {{form.max_missing_cleavages}}
    {% endcomment %}
    <br />
    <label for="{{form.min_total_ptms.id_for_label}}" 
           title="Enter Minimum and Maximum number of total PTMs per predicted peptide">
      PTMs/peptide:
    </label>
    {{form.min_total_ptms}} - {{form.max_total_ptms}}
    <span title="{{form.max_equal_ptms.field.widget.attrs.title}}">
      &nbsp;&nbsp;{{form.max_equal_ptms.label_tag}}
    </span>
    {{form.max_equal_ptms}}
    <br />
    <span title="{{form.exclusive_ptms.field.widget.attrs.title}}">
      {{form.exclusive_ptms.label_tag}}
      {% for ptm_check in form.exclusive_ptms %}
          &nbsp;&nbsp;{{ptm_check}}
      {% endfor %}
    </span>
  
    <br/><br/>
    {% comment %}
      <button type="submit" onclick="please_wait(this)" name="digest_combine_dwnld" 
              value="digest" id="protein_digest" title="Digest protein">
        <img alt="Digest" src="{% static 'images/digest.png' %}" />
        &nbsp;<b>Digest</b>
      </button>
      &nbsp;&nbsp;
    {% endcomment %}
    <button type="submit" onclick="please_wait(this)" name="digest_combine_dwnld" 
            value="digest_combine" id="digest_combine" 
            title="Digest protein and Combine PTMs. In some cases this may take a long time; please be patient...">
      <img alt="Digest" src="{% static 'images/digest.png' %}" />
      &nbsp;<b>Infer</b> peptides 
      {% comment %}
        &nbsp;<b>Digest</b> and 
        &nbsp;<img alt="Combine" src="{% static 'images/combine.png' %}" />
        &nbsp;<b>Combine PTMs</b>
      {% endcomment %}
    </button>
    &nbsp;&nbsp;
    <button type="submit" onclick="please_wait_file(this)" name="digest_combine_dwnld" 
            value="digest_combine_dwnld" id="digest_combine_dwnld" 
            title="Digest protein, Combine PTMs, and Download as a TSV file. In some cases this may take a long time; please be patient...">
      {% comment %}
        <img alt="Digest" src="{% static 'images/digest.png' %}" />
        &nbsp;<b>Digest</b>, 
        &nbsp;<img alt="Combine" src="{% static 'images/combine.png' %}" />
        &nbsp;<b>Combine PTMs</b>, and
        &nbsp;
      {% endcomment %}
      <img alt="Download" src="{% static 'images/download.png' %}" />
      &nbsp;<b>Infer</b> and <b>Download</b> peptides
    </button>
  </fieldset>
</form>

{# Verify forms JavaScript code: #}

<script type = "text/javascript" src="{% static 'js/forms_validation.js' %}"></script>
<script type = "text/javascript">
  bind_alertongluc('{{form.protease.id_for_label}}');
  
  bind_verify_interval_ctrls('{{form.min_pep_length.id_for_label}}', '{{form.max_pep_length.id_for_label}}');
  bind_verify_interval_ctrls('{{form.min_total_ptms.id_for_label}}', '{{form.max_total_ptms.id_for_label}}');
/*   bind_verify_interval_ctrls('{{form.max_equal_ptms.id_for_label}}', '{{form.max_total_ptms.id_for_label}}'); */
/*   bind_verify_interval_ctrls('{{form.missing_cleavage_lvls.id_for_label}}', '{{form.max_missing_cleavages.id_for_label}}'); */
</script>

{# End of Verify forms JavaScript code. #}