{% extends "result_section.html" %}

{% load staticfiles %}

{% block results %}
  <br />
  
  {# Paginator code: #}
  
  {% with paginator=paginated_results objects="proteins"  objects_found="" %}
     {% include "paginator_bar.html" %}
  {% endwith %}
  
  {# End of Paginator code. #}
  
  <br />
  <table class="browser" width="100%" cellspacing="0" rules="rows">
    <thead>
      {# Table_Result_Headers code: #}
  
      {% include "table_sortable_headers.html" %}
  
      {# End of Table_Result_Headers code. #}
    </thead>      
    <colgroup span="1" id="col_protein"></colgroup>
    <tbody>
      {% for prot in paginated_results.object_list %}
        <tr id="{{ forloop.counter }}">
          <td align="center">
            <a href="{% url 'protein_view' prot.ac %}" onclick="please_wait()">{{prot.ac}}</a>
          </td>
          <td align="center">
            {{prot.name}}
          </td>
          <td align="center">
            {{prot.chr|default_if_none:"-"}}
          </td>
          <td align="center">
            {{prot.mod_aas}}
          </td>
          <td align="center">
            {{prot.length}}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <br />
  
  {# Paginator code: #}
  
  {% with paginator=paginated_results  objects="" objects_found="" %}
    {% include "paginator_bar.html" %}
  {% endwith %}
  
  {# End of Paginator code. #}
  
  <br />
{% endblock %}