{% extends "result_section.html" %}

{% load staticfiles %}

{% block results %}
  <br />
  <h4>{{protein.ac}}</h4>
  <br />
  
  <em>Protein names:</em> {{protein.name}}.<br />
  <em>Gene:</em> {{protein.gene.name}}&nbsp;&nbsp;
  <em>Chromosome:</em> {{protein.chr|default_if_none:"-"}}
  <br />
  This protein is marked in UniPortKB as 
  {% if protein.reviewed %}
    <em title="(This entry has been manually annotated and reviewed by UniProtKB curators, and belongs to the Swiss-Prot section of UniProtKB)">
    Reviewed</em>.
  {% else %}
    <span title="(Caution: this entry has NOT been manually annotated, and belongs to the computer-annotated TrEMBL section of UniProtKB)">
    <em>Not</em> reviewed</span>.
  {% endif %}
  <br /><br />
  <em>Total PTMs:</em> {{protein.totalptmcount}}&nbsp;&nbsp;
  {% for ptmname, count in protein.ptmname_count %}
    <em>{{ptmname}}{{count|pluralize}}:</em> {{count}}&nbsp;&nbsp;
  {% endfor %}
  <br />
  <em>Number of <span title="()with 2 or more PTMs, be these of the same or different type)">
  co-modified</span> experimental peptides matching this protein:</em> 
  {{protein.comodmspepscount}}&nbsp;&nbsp;
  <br />
  <br />
  {% if protein.seq %}
    <div class="seqprot_contianer" id="sequence"> {% comment %}https://stackoverflow.com/a/27117211{% endcomment %}
      <div style="display:inline-block; vertical-align:top;">
        <span class="seqprot">{{protein.html_seqnums|safe}}</span>
      </div>&nbsp;&nbsp;<div style="display:inline-block; vertical-align:top;">
        <span class="seqprot">{{protein.htmlseq|safe}}</span>
      </div>
    </div>
    &nbsp;
    {% include digest_form.template_include with form=digest_form %}
    <br />
    {% if groupedpos2ptms %}
      <br />
      <div id="PTMs">
      <em>PTMs found:</em>
      <table class="protein_ptms" cellspacing="0" style="width:69%;">
        <thead>
          <tr>
            <th width="7%">Position</th>
            <th width="18%">Modifications</th>
            <th width="51%">MS Peptides supporting the Modifications</th>
            <th width="12%">Peptide shared with other proteins?</th>
            <th width="12%">Peptide shared only with isoforms of this protein?</th>
          </tr>
        </thead>
        <colgroup span="1" id="col_ptm_position"></colgroup>
        <tbody>
          {% for group in groupedpos2ptms %}
            <td colspan="5"></td>
            <tr class="{{group.html_class}}">
              {% if group.region %}
                <td colspan="5">
                <em>High Density PTM region:&nbsp;&nbsp;</em>
                  <span class="seqprot">{{group.region.prot_start}}-<span class="hd_ptm_region">{{group.region.htmlseq|safe}}</span>-{{group.region.prot_end}}</span>
                </td>
              {% endif %}
            </tr>
            {% for position, ptms in group.pos2ptms %}
              {% for ptm in ptms|dictsort:"source.name" %}
                <tr class="{{group.html_class}}">
                  {% if forloop.counter == 1 %}
                      <td rowspan="{{ptms|length}}" width="7%"><a class="anchor" id="pos_{{position}}">{{position}}</a></td>
                  {% endif %}
                  <td width="18%">{{ptm.mod_type.full_name}}<small> ({{ptm.source.name}})</small></td>
                  <td style="width:51%;">
                    {% for mspeptide in ptm.mspeps_cache %}
                      <a href="{% url 'ms_peptide_view' mspeptide.id %}"><span class="sec">{{mspeptide.sightmlseq|safe}}</span></a>
                    {% endfor %}
                  </td>
                  <td width="12%" style="text-align: center;">
                    {% for mspeptide in ptm.mspeps_cache %}
                      <img title="{{mspeptide.otherprots}}" 
                           src="{% static 'images/'|add:mspeptide.otherprots|add:'.png' %}"/>
                      <br/>
                    {% endfor %}
                  </td>
                  <td width="12%" style="text-align: center;">
                    {% for mspeptide in ptm.mspeps_cache %}
                      <img title="{{mspeptide.otherprotsonlyiso}}" 
                           src="{% static 'images/'|add:mspeptide.otherprotsonlyiso|add:'.png' %}"/>
                      <br/>
                    {% endfor %}
                  </td>
                </tr>
              {% endfor %}
            {% endfor %}
          {% endfor %}
          <td colspan="3"></td>
          {% comment %}
          <tr>
            <th>Position</th>
            <th>Modifications</th>
            <th>MS Peptides supporting the Modifications</th>
          </tr>
          {% endcomment %}
        </tbody>
      </table>
      </div>
    {% endif %}
  {% else %}
    <p>
      Sorry. No sequence available.<br />
      <em>{{protein.ac}} may be Deleted</em> from <a href="http://www.uniprot.org/">UniProt</a>.<br />
      <br /> 
      You can try to search it in 
      <a href='http://www.uniprot.org/uniprot/{{protein.ac}}?version=*'>
        UniProtKB History for {{protein.ac}}
      </a>.
    </p>
  {% endif %}
  <br />
  <h4 id="more_information">More information:</h4>
  <br />
  {% if protein.function %}
    <em>Function: </em>{{protein.function}}<br />
    <br />
  {% endif %}
  {% if protein.locations %}
    <em>Subcellular location: </em>{{protein.locations|join:", "}}.<br />
    <br />
  {% endif %}
  <em>UniProt Link: </em><a href="http://www.uniprot.org/uniprot/{{protein.ac}}">{{protein.ac}} ({{protein.id_in_source_repository}})</a> <a href="http://www.uniprot.org/uniprot/{{protein.ac}}"><img class="uniprot" src="/files/images/uniprot_logo.png" /></a><br />
  <br />
{% endblock %}