{% load staticfiles %}

<h3><span style="color: #FF8020;">Protein</span> Search</h3>

<form action="{{form.post_url}}" method="post" name="protein_search_form" 
      style="min-width:70%;">
  {% csrf_token %}
  <fieldset><legend>Protein Search:</legend>
    <div style="display: inline-block; vertical-align: top;">
      <span title="{{form.protein_text.field.widget.attrs.title}}">
        {{form.protein_text.label_tag}}
      </span><br/>
      {{form.protein_text}}<br/>
      <small>(max. {{form.protein_text.field.max_length}} characters)</small>
    </div>
    <span title="Fill only one of '{{form.protein_text.label}}' or '{{form.multiprotein_acs.label}}' input texts, but not both">
      &nbsp;&nbsp;OR&nbsp;&nbsp;
    </span>
    <div style="display: inline-block; vertical-align: top;">
      <span title="{{form.multiprotein_acs.field.widget.attrs.title}}">
        {{form.multiprotein_acs.label_tag}}
      </span><br/>
      {{form.multiprotein_acs}}
    </div>
    &nbsp;&nbsp;
    {{form.sort_tags.as_hidden}}
    <button type="submit" onclick="please_wait(this, 2)" name="protein_search" 
            id="protein_search" title="Search proteins in the database">
      <img alt="Search" src="{% static 'images/search.gif' %}">
      &nbsp;Search <b>Proteins</b>
    </button>
  </fieldset>
</form>

<form action="{{form.post_url}}" method="post" name="protein_search_form" 
      style="min-width:20%;">
  {% csrf_token %}
  <fieldset><legend>All Proteins:</legend>
    <input type="hidden" value="*" name="{{form.protein_text.html_name}}" 
           id="{{form.protein_text.id_for_label}}"/>
    {{form.sort_tags.as_hidden}}
    <button type="submit" onclick="please_wait(this, 2)" name="all_proteins_search" 
            id="all_proteins_search" title="Browse all proteins in the database">
      <img src="{% static 'images/magnify.png' %}"/>
      &nbsp;Browse <b>All Proteins</b>
    </button>
  </fieldset>
</form>

<div class='hints'>
  <p>The database can be queried for a protein or a set of proteins of interest. 
  Details on the search options can be found in the <a  rel="section" 
  href="{% url 'help' %}">Help</a> section.<br />
  All proteins in the database can be browsed using the <b>|&nbsp;<img alt="Browse" 
  src="{% static 'images/magnify.png' %}"/>&nbsp;Browse&nbsp;All&nbsp;Proteins&nbsp;|</b> 
  button.</p>
</div>
