{% extends base.template %}

{% block section %}
  <div id="content">
    {% comment %}
    <h3>{{view.title}}</h3>
    {% endcomment %}
    {% if not errors %}
      {# Here goes the type of result generated #}
      {% block results %} {% endblock %}
    {% else %}
      {# Here goes the Errors #}
      {% include 'errors_include.html' %}
      <br/><br/><br/>
      <em>
        Please, 
        <a title="Search Again {{APPNAME}} DataBase" 
           href="{% url 'search' %}" rel="section">
          try Searching again
        </a>!
      </em>
      <br/>
    {% endif %}
  </div>
{% endblock %}