    <div id="sidebar">
      <h3>Sidebar</h3>
      {% comment %}
      <form action="/quick_search_results/" method="post">
        {% csrf_token %}
        <fieldset>
        <legend>Quick Search {{APPNAME}}</legend>
            <input type="search" value="" name="quick_text"
             title="Input a Peptide Squence or a Protein Text to search for"
             id="quick_text" maxlength="35" tabindex="1" autofocus="autofocus"
             autosave="autosave" autocomplete="on" style="font-family:monospace"/>
            <button type="submit" name="quick_search" id="quick_search"
             title="Quick Search {{APPNAME}} DataBase for Peptide Sequence or Protein Text"
             tabindex="2">
                <img alt="Search" src="/files/images/search.gif" />
                &nbsp;Search {{APPNAME}} DB
            </button>
        </fieldset>
      </form>
      {% endcomment %}
      <h4>News and Logs</h4>
      <p class="logs">2018/04/04 Updated Web, code-base and DataBase.</p>
      <p class="logs">2018/04/04 Updated Web, code-base and DataBase.</p>
      <p class="logs">2018/02/18 Updated code-base and DataBase.</p>
      <p class="news">{{APPNAME}} in beta-testing.</p>
      <p class="news">{{APPNAME}} Web-Application Under Development.</p>
    </div>
