{% load staticfiles %}

<!--[if IE]><script language="javascript" type="text/javascript" src="{% static 'js/excanvas.min.js' %}"></script><![endif]-->
<!-- <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script> -->
<!-- <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.4/jquery-ui.min.js"></script> -->
<script type="text/javascript" src="{% static 'js/lorikeet/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/lorikeet/jquery-ui.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/lorikeet/jquery.flot.js' %}"></script>
<script type="text/javascript" src="{% static 'js/lorikeet/jquery.flot.selection.js' %}"></script>

<script type="text/javascript" src="{% static 'js/lorikeet/specview.js' %}"></script>
<script type="text/javascript" src="{% static 'js/lorikeet/peptide.js' %}"></script>
<script type="text/javascript" src="{% static 'js/lorikeet/aminoacid.js' %}"></script>
<script type="text/javascript" src="{% static 'js/lorikeet/ion.js' %}"></script>

<link rel="stylesheet" type="text/css" href="{% static 'css/lorikeet/lorikeet.css' %}">