<!-- PLACE HOLDER DIV FOR THE SPECTRUM -->
<div id="{{spectrum.id}}"></div>

<script type="text/javascript">

$(document).ready(function () {

    /* render the spectrum with the given options */
    $("#{{spectrum.id}}").specview({sequence: "{{spectrum.seq}}", 
                                    scanNum: {{spectrum.scan_i}},
                                    charge: {{spectrum.charge}},
                                    precursorMz: {{spectrum.precursor_mz}},
                                    fileName: "{{spectrum.raw_file}}",
                                    //staticMods: staticMods, 
                                    variableMods: {{spectrum.var_mods|safe}}, 
                                    //ntermMod: ntermMod, 
                                    //ctermMod: ctermMod,
                                    peaks: {{spectrum.peaks|safe}},
                                    width: 550,
                                    height: 450
                                    }); 

});

</script>