{% extends base.template %}

{% block section %}
  <div id="content">
    <h3>Post-translational modifications (PTMs) included in the 
    <span style="color: #FF9030;">{{APPNAME}}</span> database:</h3>
    <br/>
    <table class="statistics" width="90%" cellspacing="0" rules="rows">
      <thead>
        <tr>
          <th>PTM type</th>
          <th>Proteins</th>
          <th>Peptides</th>
          <th>PTM sites</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Phosphorylation</td>
          <td>15,440</td>
          <td>39,837</td>
          <td>34,195</td>
        </tr>
        <tr>
          <td>Ubiquitination</td>
          <td>17,722</td>
          <td>44,126</td>
          <td>42,671</td>
        </tr>
        <tr>
          <td>Acetylation</td>
          <td>9,864</td>
          <td>17,280</td>
          <td>16,023</td>
        </tr>
      </tbody>
    </table>
    <br/>

    <h3>PTM data sources included in the <span style="color: #FF9030;">
    {{APPNAME}}</span> database:</h3>
    <br/>
    <table class="statistics" width="90%" cellspacing="0" rules="rows">
      <thead>
        <tr>
          <th>PTM type</th>
          <th>Data source</th>
          <th>Modified proteins</th>
          <th>Modified peptides</th>
          <th>PTM sites</th>
        </tr>
      </thead>
      <tbody>
        <tr style="border-top: 1px solid #000000">
          <td rowspan="10"  valign="top">Phosphorylation</td>
          <td>
            <a href="http://www.jbc.org/content/269/47/29520" target="_blank" 
               title="Watts, J.D. et al. (1994). J. Biol. Chem., 269, 29529">
              Watts <i>et al</i>. 1994
            </a>
          </td>
          <td>3</td>
          <td>5</td>
          <td>5</td>
        </tr>
        <tr>
          <td>
            <a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC141014/" target="_blank" 
               title="Salomon, A.R. et al. (2003). Proc. Natl. Acad. Sci U.S.A., 100, 443">
              Salomon <i>et al</i>. 2003
            </a>
          </td>
          <td>17</td>
          <td>18</td>
          <td>20</td>
        </tr>
        <tr>
          <td>
            <a href="http://onlinelibrary.wiley.com/doi/10.1002/rcm.1746/" target="_blank" 
               title="Ficarro, S.B. et al. (2005). Rapid Commun. Mass Spectrom., 19, 57">
              Ficarro <i>et al</i>. 2005
            </a>
          </td>
          <td>123</td>
          <td>70</td>
          <td>83</td>
        </tr>
        <tr>
          <td>
            <a href="https://www.nature.com/nmeth/journal/v2/n8/full/nmeth776.html" target="_blank" 
               title="Tao, W.A. et al. (2005). Nat. Methods, 2, 591">
              Tao <i>et al</i>. 2005
            </a>
          </td>
          <td>224</td>
          <td>115</td>
          <td>131</td>
        </tr>
        <tr>
          <td>
            <a href="http://stke.sciencemag.org/content/2/84/ra46.abstract" target="_blank" 
               title="Mayya, V. et al. (2009). Sci. Signal., 2, ra46">
              Mayya <i>et al</i>. 2009
            </a>
          </td>
          <td>5,979</td>
          <td>7,285</td>
          <td>6,995</td>
        </tr>
        <tr>
          <td>
            <a href="https://www.nature.com/articles/nmeth.2518" target="_blank" 
               title="Mertins, P. et al. (2013). Nat. Methods, 10, 634">
              Mertins <i>et al</i>. 2013
            </a>
          </td>
          <td>13,738</td>
          <td>27,538</td>
          <td>26,825</td>
        </tr>
        <tr>
          <td>
            <a href="https://onlinelibrary.wiley.com/doi/abs/10.1002/pmic.201400119" target="_blank" 
               title="Jouy, F. et al. (2015). Proteomics, 15, 25">
              Jouy <i>et al</i>. 2015
            </a>
          </td>
          <td>2,054</td>
          <td>1,329</td>
          <td>1,471</td>
        </tr>
        <tr>
          <td>
            <a href="http://www.sciencedirect.com/science/article/pii/S1874391915301731" target="_blank" 
               title="Nguyen, T.D. et al. (2016). J. Proteomics, 131, 190">
              Nguyen <i>et al</i>. 2016
            </a>
          </td>
          <td>3,987</td>
          <td>3,402</td>
          <td>3,306</td>
        </tr>
        <tr>
          <td>
            <a href="http://www.pnas.org/content/114/30/E6240" target="_blank" 
               title="Beltejar, MC.G. et al. (2017). PNAS, 114, 30">
              Beltejar <i>et al</i>. 2017
            </a>
          </td>
          <td>7,464</td>
          <td>10,890</td>
          <td>11,679</td>
        </tr>
        <tr>
          <td>
            <a href="https://www.lymphos.org" target="_blank" 
               title="https://www.lymphos.org">
              LymPHOS2 database
            </a>
          </td>
          <td>5,136</td>
          <td>5,563</td>
          <td>4,885</td>
        </tr>
        <tr style="border-top: 1px solid #000000;">
          <td rowspan="3"  valign="top">Ubiquitination</td>
          <td>
            <a href="https://www.nature.com/articles/nmeth.2518" target="_blank" 
               title="Mertins, P. et al. (2013). Nat. Methods, 10, 634">
              Mertins <i>et al</i>. 2013
            </a>
          </td>
          <td>10,355</td>
          <td>15,038</td>
          <td>14,963</td>
        </tr>
        <tr>
          <td>
            <a href="http://www.mcponline.org/content/12/3/825" target="_blank" 
               title="Udeshi, N.D. et al. (2013). Mol. Cell. Proteomics, 12, 825">
              Udeshi <i>et al</i>. 2013
            </a>
          </td>
          <td>5,136</td>
          <td>5,563</td>
          <td>4,885</td>
        </tr>
        <tr>
          <td>
            <a href="https://pubs.acs.org/doi/abs/10.1021/acs.analchem.6b04804" target="_blank" 
               title="Casanovas, A. et al. (2017). Anal. Chem., 89, 3840">
              Casanovas <i>et al</i>. 2017
            </a>
          </td>
          <td>8,661</td>
          <td>11,591</td>
          <td>11,264</td>
        </tr>
        <tr style="border-top: 1px solid #000000;">
          <td rowspan="4"  valign="top">Acetylation</td>
          <td>
            <a href="http://www.sciencemag.org/content/325/5942/834" target="_blank" 
               title="Choudhary, C. et al. (2009). Science, 325, 834">
              Choudhary <i>et al</i>. 2009
            </a>
          </td>
          <td>2,888</td>
          <td>2,365</td>
          <td>2,394</td>
        </tr>
        <tr>
          <td>
            <a href="https://www.nature.com/articles/nmeth.2518" target="_blank" 
               title="Mertins, P. et al. (2013). Nat. Methods, 10, 634">
              Mertins <i>et al</i>. 2013
            </a>
          </td>
          <td>3,338</td>
          <td>3,185</td>
          <td>3,194</td>
        </tr>
        <tr>
          <td>
            <a href="http://www.mcponline.org/content/14/9/2429" target="_blank" 
               title="Svinkina, T. et al. (2015). Mol. Cell. Proteomics, 14, 2429">
              Svinkina <i>et al</i>. 2015
            </a>
          </td>
          <td>9,323</td>
          <td>15,219</td>
          <td>14,249</td>
        </tr>
        <tr>
          <td>
            <a href="https://academic.oup.com/bioinformatics/advance-article/doi/10.1093/bioinformatics/bty805/5096778" target="_blank" 
               title="Casanovas, A. et al. Bioinformatics, doi: 10.1093/bioinformatics/bty805">
              Casanovas <i>et al</i>. (accepted)
            </a>
          </td>
          <td>4,630</td>
          <td>4,316</td>
          <td>4,247</td>
        </tr>
      </tbody>
    </table>
  </div>
{% endblock %}
