{# Table_Result_Headers code: #}

<tr id="sub_header">
  {% for header in view.table_headers %}
    <th align="center" width="{{ header.width }}" title="{{ header.title }}">
      {% if header.sort_tag %}
        <form action= "{{ action }}" method="post" name="sort">
          {% csrf_token %}
          {# Data for re-entering via POST: #}
          {% for field in form %}
            {{ field.as_hidden }}
          {% endfor %}
          {# Data for re-entering via POST. #}
          <button type="submit" name="sort_tags" onclick="please_wait(this)" 
                  {% if header.sort_tag|add:" desc" in form.sort_tags.value %}
                    class="ordered_dsc" value="{{ header.sort_tag }}" id="{{ header.sort_tag }}_dsc" title="{{ header.title }}. Click to sort ascending"
                  {% elif header.sort_tag in form.sort_tags.value %}
                    class="ordered_asc" value="{{ header.sort_tag }} desc" id="{{ header.sort_tag }}_asc" title="{{ header.title }}. Click to sort descending"
                  {% else %}
                    class="not_ordered" value="{{ header.sort_tag }} desc" id="{{ header.sort_tag }}" title="{{ header.title }}. Click to sort descending"
                  {% endif %}>
            {{ header.html|safe }}&nbsp;&nbsp;
          </button>               
        </form>
      {% else %}
        {{ header.html|safe }}
      {% endif %}
    </th>
  {% endfor %}
</tr>

{# End of Table_Result_Headers code. #}