{% load staticfiles %}

<p style="font-size: 120%; text-align: center;"><em>Terms and Conditions 
for {{APPNAME}} data</em>:</p>

<p>Upon accessing or downloading {{APPNAME}} data you are accepting these 
Terms and Conditions which govern your ability to access and use it. {{APPNAME}} 
is licensed by <a href="http://proteomica.uab.cat" target="_blank">
LP-CSIC/UAB</a> (<a href="http://proteomica.uab.cat" 
target="_blank">http://proteomica.uab.cat</a>) for non-commercial use 
under a <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" 
target="_blank">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 
(CC BY-NC-SA 4.0) International License</a>
(<a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" 
target="_blank">https://creativecommons.org/licenses/by-nc-sa/4.0/</a>) 
and the further terms listed below.</p>

<p>As the CC BY-NC-SA 4.0 license states, the {{APPNAME}} website 
(<a href="https://www.{{APPNAME}}.org" target="_blank">https://www.{{APPNAME}}.org</a>) 
and database are freely available. So You are free to:</p>
<ul>
  <li><em>Share</em> — Copy and redistribute {{APPNAME}} data in any medium 
  or format.</li>
  <li><em>Adapt</em> — Remix, transform, and build upon the {{APPNAME}} 
  data.</li>
</ul>

<p>Under the following terms:</p>
<ul>
  <li><em>Attribution</em> — You must give appropriate credit, provide a 
  <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/legalcode" 
  target="_blank">link to the license</a>, and indicate if changes were made. 
  You may do so in any reasonable manner, but not in any way that suggests 
  the licensor endorses you or your use.</li>
  <li><em>NonCommercial</em> — You may not use the {{APPNAME}} data for commercial 
  purposes. So, PLEASE NOTE: Commercial users must obtain a commercial 
  license prior to downloading from the 'Download' section of {{APPNAME}}. 
  Contact <em>Dr. Joaquin Abian</em> (<img alt="joaquin.abian.csic &lt;at&gt; uab.cat" 
  src="{% static 'images/joaquin_contact.png' %}" 
  title="joaquin.abian.csic &lt;at&gt; uab.cat" 
  style="vertical-align: middle;">) to inquire about commercial licensing.</li>
  <li><em>ShareAlike</em> — If you remix, transform, or build upon {{APPNAME}} data, 
  you must distribute your contributions under the same license as the 
  original.</li>
  <li><em>No additional restrictions</em> — You may not apply legal terms or 
  technological measures that legally restrict others from doing anything 
  the license permits.</li>
</ul>
<p>Moreover, when information derived from {{APPNAME}} data is used in 
presentations, publications, including journals, books and online resources, 
attribution must be provided as follows:</p>
<ul>
  <li>Source information must be included in the reference section of any 
  publication as: “Casanovas, A., Gallardo, Ó., Carrascal, M., Abian, J., 
  <em><a href="https://doi.org/10.1093/bioinformatics/bty805" target="_blank">
  TCellXTalk facilitates the detection of co-modified peptides for the study 
  of protein post-translational modification cross-talk in T cells.</a></em> 
  Bioinformatics 2018”.</li>
  <li>Online usages of {{APPNAME}} data must clearly include <a 
  href="{% url 'termsandconditions' %}" target="_blank">a link to these 
  Terms and Conditions</a>, and not to any other license. You must also include 
  a reference stating that the {{APPNAME}} data is not for commercial use.</li>
  <li>In bulk downloads from databases, information from {{APPNAME}} must be 
  indicated in a column listing “{{APPNAME}}” as the source of the data with 
  source information identified and on each download or download page a 
  link to these Terms and Conditions must be made available to the user, 
  with a warning that the {{APPNAME}} data is not for commercial use.</li>
</ul>

<p><em>Disclaimer:</em></p>
<p>No warranties are given. {{APPNAME}} information is provided on an “AS IS” 
and “AS AVAILABLE” basis. LP-CSIC/UAB cannot guarantee the accuracy, 
completeness, or currency of the data or information, in whole or in part 
even thought it makes every effort to present the data accurately. USE OF 
THE LICENSED PRODUCT AND ANY INFORMATION OBTAINED THROUGH THIS SITE IS SOLELY 
AT USER'S RISK EXCEPT AS OTHERWISE PROVIDED HEREIN. The license may not give 
you all of the permissions necessary for your intended use. For example, 
other rights such as publicity, privacy, or moral rights may limit how you 
use {{APPNAME}} data.</p>

<p><em>Notices:</em></p>
<p>You do not have to comply with the license for elements of {{APPNAME}} data 
in the public domain or where your use is permitted by an applicable exception 
or limitation.</p>
<p>These terms shall be governed by and construed in accordance with the 
laws of Spain and the European Union, without regard to the application of 
principles of conflicts of law. You agree to jurisdiction in Spain for 
resolution of any dispute regarding these terms or {{APPNAME}}.</p>
<p>Adherence to <a href="{% url 'termsandconditions' %}" target="_blank">these 
Terms and Conditions</a> and those found in the Creative Commons License, 
integrated by reference <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/legalcode" 
target="_blank">here</a>, are a condition of the license to access and 
use {{APPNAME}} database for non-commercial purposes. All other uses are 
forbidden.</p>

<p><em>Contact:</em></p>
<p>Should you have any further questions, concerns, or queries about these 
Terms and Conditions, please contact <em>Dr. Joaquin Abian</em> (<img 
alt="joaquin.abian.csic &lt;at&gt; uab.cat" 
src="{% static 'images/joaquin_contact.png' %}" 
title="joaquin.abian.csic &lt;at&gt; uab.cat" 
style="vertical-align: middle;">) or <em>Dr. Montserrat Carrascal</em>
(<img alt="montserrat.carrascal.csic &lt;at&gt; uab.cat" 
src="{% static 'images/montse_contact.png' %}" 
title="montserrat.carrascal.csic &lt;at&gt; uab.cat" 
style="vertical-align: middle;">).</p>