{% extends base.template %}

{% load staticfiles %}

{% block section %}
  <div id="content">
    <h3>Terms and Conditions</h3>
    {% include 'terms_and_conditions.html' %}
  </div>
{% endblock %}
