{% extends base.template %}

{% block section %}
  <div id="content">
    <h3><span style="color: #FF9030;">{{APPNAME}}</span> Web-Application:</h3>
    <ol>
      <li> More testing.</li>
      <li> Add Help and Documentation.</li>
    </ol>
    <br/><br/>
    <p>If you are interested in contributing, see the <em><a href="/contribute/">Contribute Section</a></em>.</p>
  </div>
{% endblock %}
